@font-face {
    font-display: block;
    font-family: wf_dd28b3957391427eb54de1c9e;
    src: url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/ttf/file.ttf") format("ttf");
}


@font-face {
    font-family: "DIN-Next-W01-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
    font-display: block;
}

@font-face {
    font-family: "DIN-Next-W02-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/07d62b21-8d7a-4c36-be86-d32ab1089972.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c0050890-bbed-44b9-94df-2611d72dbb06.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9f774d17-c03a-418e-a375-34f3beecbc7a.svg#9f774d17-c03a-418e-a375-34f3beecbc7a") format("svg");
    font-display: block;
}

@font-face {
    font-family: "DIN-Next-W10-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/a9e95a29-98a7-404a-90ee-1929ad09c696.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0a7663fd-eae8-4e50-a67a-225271f8cceb.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/58ae9be9-5d95-44b6-8b6c-e6da6a46822c.svg#58ae9be9-5d95-44b6-8b6c-e6da6a46822c") format("svg");
    font-display: block;
}

@font-face {
    font-display: block;
    font-family: wf_93c16d86ec9d47d0a2a36894f;
    src: url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/ttf/file.ttf") format("ttf");
}

#masterPage:not(.landingPage) #PAGES_CONTAINER {
    margin-top: 0px;
    margin-bottom: 0px;
}

#masterPage.landingPage #SITE_HEADER {
    display: none;
}

#masterPage.landingPage #SITE_FOOTER {
    display: none;
}

#masterPage.landingPage #SITE_HEADER-placeholder {
    display: none;
}

#masterPage.landingPage #SITE_FOOTER-placeholder {
    display: none;
}

#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex="-1"]):focus, #SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex="-1"]):focus ~ .wixSdkShowFocusOnSibling {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff !important;
    z-index: 1;
}

#masterPage {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;
}

#SITE_HEADER {
    z-index: 50;
    --above-all-in-container: 10000;
}

#PAGES_CONTAINER {
    --pinned-layer-in-container: 51;
    --above-all-in-container: 49;
}

#SITE_FOOTER {
    --pinned-layer-in-container: 52;
    --above-all-in-container: 49;
}

:root,:host, .spxThemeOverride {
    --color_0: 255,255,255;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 213,213,213;
    --color_12: 170,170,170;
    --color_13: 128,128,128;
    --color_14: 85,85,85;
    --color_15: 43,43,43;
    --color_16: 208,208,208;
    --color_17: 162,162,162;
    --color_18: 115,115,115;
    --color_19: 69,69,69;
    --color_20: 22,22,22;
    --color_21: 244,244,244;
    --color_22: 195,195,195;
    --color_23: 146,146,146;
    --color_24: 98,98,98;
    --color_25: 49,49,49;
    --color_26: 210,172,247;
    --color_27: 186,131,240;
    --color_28: 128,21,232;
    --color_29: 85,14,155;
    --color_30: 43,7,77;
    --color_31: 177,211,187;
    --color_32: 127,168,139;
    --color_33: 64,124,81;
    --color_34: 43,83,54;
    --color_35: 21,41,27;
    --color_36: 255,255,255;
    --color_37: 0,0,0;
    --color_38: 232,230,230;
    --color_39: 199,199,199;
    --color_40: 118,118,118;
    --color_41: 56,74,211;
    --color_42: 0,0,0;
    --color_43: 199,199,199;
    --color_44: 255,255,255;
    --color_45: 0,0,0;
    --color_46: 0,0,0;
    --color_47: 232,230,230;
    --color_48: 56,74,211;
    --color_49: 56,74,211;
    --color_50: 255,255,255;
    --color_51: 255,255,255;
    --color_52: 56,74,211;
    --color_53: 56,74,211;
    --color_54: 199,199,199;
    --color_55: 199,199,199;
    --color_56: 255,255,255;
    --color_57: 255,255,255;
    --color_58: 56,74,211;
    --color_59: 255,255,255;
    --color_60: 56,74,211;
    --color_61: 56,74,211;
    --color_62: 255,255,255;
    --color_63: 255,255,255;
    --color_64: 199,199,199;
    --color_65: 199,199,199;
    --font_0:normal normal normal 24px/1.6em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,wf_dd28b3957391427eb54de1c9e,orig_tbc_x_regular; 
    --font_1:normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; 
    /* --font_2:normal normal normal 20px/1.6em wfont_643d94_93c16d86ec9d47d0a2a36894fbdd54fd,wf_93c16d86ec9d47d0a2a36894f,orig_tbc_x_medium; */
    --font_3:normal normal normal 48px/1.6em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,wf_dd28b3957391427eb54de1c9e,orig_tbc_x_regular; 
    --font_4: normal normal normal 32px/1.6em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,wf_dd28b3957391427eb54de1c9e,orig_tbc_x_regular;
    --font_5: normal normal normal 28px/1.6em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,wf_dd28b3957391427eb54de1c9e,orig_tbc_x_regular;
    --font_6: normal normal normal 24px/1.6em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,wf_dd28b3957391427eb54de1c9e,orig_tbc_x_regular;
    --font_7: normal normal normal 18px/1.6em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,wf_dd28b3957391427eb54de1c9e,orig_tbc_x_regular;
    --font_8: normal normal normal 16px/1.6em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,wf_dd28b3957391427eb54de1c9e,orig_tbc_x_regular;
    --font_9: normal normal normal 14px/1.6em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,wf_dd28b3957391427eb54de1c9e,orig_tbc_x_regular;
    --font_10: normal normal normal 10px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --wix-ads-height: 0px;
    --sticky-offset: 0px;
    --wix-ads-top-height: 0px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
    --theme-spx-ratio: 1px;
}

.font_0 {
    font: var(--font_0);
    color: rgb(244, 244, 244);
    letter-spacing: 0em;
}

.font_1 {
    font: var(--font_1);
    color: rgb(var(--color_14));
    letter-spacing: 0em;
}

.font_2 {
    font: var(--font_2);
    color: rgb(244, 244, 244);
    letter-spacing: 0em;
}

.font_3 {
    font: var(--font_3);
    color: rgb(244, 244, 244);
    letter-spacing: 0em;
}

.font_4 {
    font: var(--font_4);
    color: rgb(244, 244, 244);
    letter-spacing: 0em;
}

.font_5 {
    font: var(--font_5);
    color: rgb(244, 244, 244);
    letter-spacing: 0em;
}

.font_6 {
    font: var(--font_6);
    color: rgb(244, 244, 244);
    letter-spacing: 0em;
}

.font_7 {
    font: var(--font_7);
    color: rgb(244, 244, 244);
    letter-spacing: 0em;
}

.font_8 {
    font: var(--font_8);
    color: rgb(244, 244, 244);
    letter-spacing: 0em;
}

.font_9 {
    font: var(--font_9);
    color: rgb(244, 244, 244);
    letter-spacing: 0em;
}

.font_10 {
    font: var(--font_10);
    color: rgb(var(--color_14));
    letter-spacing: 0em;
}

.color_0 {
    color: rgb(var(--color_0));
}

.color_1 {
    color: rgb(var(--color_1));
}

.color_2 {
    color: rgb(var(--color_2));
}

.color_3 {
    color: rgb(var(--color_3));
}

.color_4 {
    color: rgb(var(--color_4));
}

.color_5 {
    color: rgb(var(--color_5));
}

.color_6 {
    color: rgb(var(--color_6));
}

.color_7 {
    color: rgb(var(--color_7));
}

.color_8 {
    color: rgb(var(--color_8));
}

.color_9 {
    color: rgb(var(--color_9));
}

.color_10 {
    color: rgb(var(--color_10));
}

.color_11 {
    color: rgb(var(--color_11));
}

.color_12 {
    color: rgb(var(--color_12));
}

.color_13 {
    color: rgb(var(--color_13));
}

.color_14 {
    color: rgb(var(--color_14));
}

.color_15 {
    color: rgb(var(--color_15));
}

.color_16 {
    color: rgb(var(--color_16));
}

.color_17 {
    color: rgb(var(--color_17));
}

.color_18 {
    color: rgb(var(--color_18));
}

.color_19 {
    color: rgb(var(--color_19));
}

.color_20 {
    color: rgb(var(--color_20));
}

.color_21 {
    color: rgb(var(--color_21));
}

.color_22 {
    color: rgb(var(--color_22));
}

.color_23 {
    color: rgb(var(--color_23));
}

.color_24 {
    color: rgb(var(--color_24));
}

.color_25 {
    color: rgb(var(--color_25));
}

.color_26 {
    color: rgb(var(--color_26));
}

.color_27 {
    color: rgb(var(--color_27));
}

.color_28 {
    color: rgb(var(--color_28));
}

.color_29 {
    color: rgb(var(--color_29));
}

.color_30 {
    color: rgb(var(--color_30));
}

.color_31 {
    color: rgb(var(--color_31));
}

.color_32 {
    color: rgb(var(--color_32));
}

.color_33 {
    color: rgb(var(--color_33));
}

.color_34 {
    color: rgb(var(--color_34));
}

.color_35 {
    color: rgb(var(--color_35));
}

.color_36 {
    color: rgb(var(--color_36));
}

.color_37 {
    color: rgb(var(--color_37));
}

.color_38 {
    color: rgb(var(--color_38));
}

.color_39 {
    color: rgb(var(--color_39));
}

.color_40 {
    color: rgb(var(--color_40));
}

.color_41 {
    color: rgb(var(--color_41));
}

.color_42 {
    color: rgb(var(--color_42));
}

.color_43 {
    color: rgb(var(--color_43));
}

.color_44 {
    color: rgb(var(--color_44));
}

.color_45 {
    color: rgb(var(--color_45));
}

.color_46 {
    color: rgb(var(--color_46));
}

.color_47 {
    color: rgb(var(--color_47));
}

.color_48 {
    color: rgb(var(--color_48));
}

.color_49 {
    color: rgb(var(--color_49));
}

.color_50 {
    color: rgb(var(--color_50));
}

.color_51 {
    color: rgb(var(--color_51));
}

.color_52 {
    color: rgb(var(--color_52));
}

.color_53 {
    color: rgb(var(--color_53));
}

.color_54 {
    color: rgb(var(--color_54));
}

.color_55 {
    color: rgb(var(--color_55));
}

.color_56 {
    color: rgb(var(--color_56));
}

.color_57 {
    color: rgb(var(--color_57));
}

.color_58 {
    color: rgb(var(--color_58));
}

.color_59 {
    color: rgb(var(--color_59));
}

.color_60 {
    color: rgb(var(--color_60));
}

.color_61 {
    color: rgb(var(--color_61));
}

.color_62 {
    color: rgb(var(--color_62));
}

.color_63 {
    color: rgb(var(--color_63));
}

.color_64 {
    color: rgb(var(--color_64));
}

.color_65 {
    color: rgb(var(--color_65));
}

.backcolor_0 {
    background-color: rgb(var(--color_0));
}

.backcolor_1 {
    background-color: rgb(var(--color_1));
}

.backcolor_2 {
    background-color: rgb(var(--color_2));
}

.backcolor_3 {
    background-color: rgb(var(--color_3));
}

.backcolor_4 {
    background-color: rgb(var(--color_4));
}

.backcolor_5 {
    background-color: rgb(var(--color_5));
}

.backcolor_6 {
    background-color: rgb(var(--color_6));
}

.backcolor_7 {
    background-color: rgb(var(--color_7));
}

.backcolor_8 {
    background-color: rgb(var(--color_8));
}

.backcolor_9 {
    background-color: rgb(var(--color_9));
}

.backcolor_10 {
    background-color: rgb(var(--color_10));
}

.backcolor_11 {
    background-color: rgb(var(--color_11));
}

.backcolor_12 {
    background-color: rgb(var(--color_12));
}

.backcolor_13 {
    background-color: rgb(var(--color_13));
}

.backcolor_14 {
    background-color: rgb(var(--color_14));
}

.backcolor_15 {
    background-color: rgb(var(--color_15));
}

.backcolor_16 {
    background-color: rgb(var(--color_16));
}

.backcolor_17 {
    background-color: rgb(var(--color_17));
}

.backcolor_18 {
    background-color: rgb(var(--color_18));
}

.backcolor_19 {
    background-color: rgb(var(--color_19));
}

.backcolor_20 {
    background-color: rgb(var(--color_20));
}

.backcolor_21 {
    background-color: rgb(var(--color_21));
}

.backcolor_22 {
    background-color: rgb(var(--color_22));
}

.backcolor_23 {
    background-color: rgb(var(--color_23));
}

.backcolor_24 {
    background-color: rgb(var(--color_24));
}

.backcolor_25 {
    background-color: rgb(var(--color_25));
}

.backcolor_26 {
    background-color: rgb(var(--color_26));
}

.backcolor_27 {
    background-color: rgb(var(--color_27));
}

.backcolor_28 {
    background-color: rgb(var(--color_28));
}

.backcolor_29 {
    background-color: rgb(var(--color_29));
}

.backcolor_30 {
    background-color: rgb(var(--color_30));
}

.backcolor_31 {
    background-color: rgb(var(--color_31));
}

.backcolor_32 {
    background-color: rgb(var(--color_32));
}

.backcolor_33 {
    background-color: rgb(var(--color_33));
}

.backcolor_34 {
    background-color: rgb(var(--color_34));
}

.backcolor_35 {
    background-color: rgb(var(--color_35));
}

.backcolor_36 {
    background-color: rgb(var(--color_36));
}

.backcolor_37 {
    background-color: rgb(var(--color_37));
}

.backcolor_38 {
    background-color: rgb(var(--color_38));
}

.backcolor_39 {
    background-color: rgb(var(--color_39));
}

.backcolor_40 {
    background-color: rgb(var(--color_40));
}

.backcolor_41 {
    background-color: rgb(var(--color_41));
}

.backcolor_42 {
    background-color: rgb(var(--color_42));
}

.backcolor_43 {
    background-color: rgb(var(--color_43));
}

.backcolor_44 {
    background-color: rgb(var(--color_44));
}

.backcolor_45 {
    background-color: rgb(var(--color_45));
}

.backcolor_46 {
    background-color: rgb(var(--color_46));
}

.backcolor_47 {
    background-color: rgb(var(--color_47));
}

.backcolor_48 {
    background-color: rgb(var(--color_48));
}

.backcolor_49 {
    background-color: rgb(var(--color_49));
}

.backcolor_50 {
    background-color: rgb(var(--color_50));
}